





 .a{
    display: flex;
    background-color: orange;
    width: 100%;
 }
 @font-face {
    font-family: hbuibbi;
    src: url( MAROLA__\ 2.TTF);
 }
 .ani{
    min-height: 100vh;
    width: 100%;
    background-color: orange;
    background-image: url(video-from-rawpixel-id-18834193-gif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    color: rgb(0, 0, 0);
    padding: 0 8%;
 }

 .img_home{
   display: flexbox;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM48ZgJFrDuym6oFj25SPjiaV4MzQ8MpNLNg&s);
   background-size: 100%;
   background-repeat: repeat;
 }